# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
*.tsbuildinfo
apps/admin-web/vite.config.js
apps/admin-web/vite.config.d.ts

# Logs
logs/
*.log
npm-debug.log*

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Test / coverage
coverage/
.nyc_output/

# Misc
*.local
